[BINANCE]
api_key = 
api_secret = 

[STRATEGY]
leverage = 3
position_size_ratio = 0.05
max_positions = 5
max_daily_entries = 5
enable_hourly_entry_limit = true
max_opens_per_scan = 1

[SIGNAL]
sell_surge_threshold = 10.0
sell_surge_max = 14008.0

[RISK]
strong_coin_tp_pct = 33.0
medium_coin_tp_pct = 21.0
weak_coin_tp_pct = 11.0
stop_loss_pct = 18.0
enable_max_gain_24h_exit = false
max_gain_24h_threshold = 6.3
max_hold_hours = 72

